<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- NOTE NOTE NOTE -->
  <!-- meta http-equiv="refresh" content="5" /-->
  <title>MostActiveStocks DATA</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

  <style>
    th { background:#abdbe3; color:white; font-family:verdana; }
    td { text-align: left; font-family:verdana; }
    tr:nth-child(odd) { color:tomato; font-family:verdana; }
  </style>
 </head>

 <script>
  $(document).ready( function () {
    $('#datatable').DataTable({
      "orderData": [ 0,1,2,3,4,5,6,7,8,9,10 ],
      "lengthMenu": [ [-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100] ],
    }); 
  });
</script>

<body>
  <div class="container">
    <div class="box has-text-centered is-size-1">
      <a href="/">{{market}} [{{dtNY}}]</a>
    </div>
  </div>
  <div class="table-container is-size-2">
    <table id="datatable">
      
      {% autoescape false %}
      <thead>{{MostActiveStocks.getTableHead(market)}}</thead>
      <tfoot>{{MostActiveStocks.getTableHead(market)}}</tfoot>
      {% endautoescape %}
      <tbody>
        {% for row in data %}
        <tr>
          {% for cell in row %}
  
              {% if (market == MostActiveStocks.MostActivesNameYahoo) %}
                {% if (loop.index <= MostActiveStocks.headerLength) %}
                  {% if loop.index == 1 %}
                    {% set symbol = cell %}
                    <td><a href={{ MostActiveStocks.getYahooHref(symbol, htmlSrc) }}>{{symbol}}</a></td> 
                  {% elif loop.index >= 2 %}
                    <td>{{ cell }}</td>
                  {% endif %}
                {% endif %}

              {% elif (market == MostActiveStocks.MostActivesNameInvesting) %}
                {% if (loop.index > 1) and (loop.index <= MostActiveStocks.headerLength+1) %}
                  {% if loop.index == 2 %}
                    {% set symbol = cell %}
                    <td><a href={{ MostActiveStocks.getInvestingHref(symbol, htmlSrc) }}>{{symbol}}</a></td> 
                  {% else %}
                    <td class="has-text-left">{{ cell }}</td>
                  {% endif %}
                {% endif %}

              {% else %}
                {% if (loop.index <= MostActiveStocks.headerLength) %}
                  <td class="has-text-left">{{ cell }}</td>
                {% endif %}
              {% endif %}

          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>